button {
  height: 80px;
  width: 100px;
  text-align: center;
}
.red {
  background-color: Red;
}
.yellow {
  background-color: Yellow;
}
.blue {
  background-color: Blue;
}
.green {
  background-color: Green;
}
